/.idea/
/aston_yakkonen_homework_2.5_kafka.iml
/volumes/server-1/
/volumes/server-2/
/volumes/server-3/
/volumes/postgres_data/
/core/target/
/EmailNotificationMicroservice/target/
/UserService/target/
