/.idea/
/aston_yakkonen_homework_2.5_kafka.iml
/volumes/server-1/
/volumes/server-2/
/volumes/server-3/
/volumes/postgres_data/
/core/target/
/email-notification-service/target/
/user-service/target/
/volumes/new_postgres_data/
/config-service/target/
/discovery-service/target/
/gateway-service/target/
